@import '../../global.scss';

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.text-about{
    display: flex;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2;
    font-size: $font-size-text;
}
.about-title{
    font-size: $font-size-h2;
    font-weight: $font-base-extrabold;

}
.about-title--variant{
    color: $color-primary-light;
    margin-top: 0 !important;
    
}

@media screen and (max-width: $screen-sm-min){
    .about-title{
        font-size: 30px;    
        text-align: center;
    }
    .text-about{
        font-size: 20px;
        text-align: center;
    }
}
    
